body {
    background-repeat: no-repeat;
    background-color:black; 
 }

 .panel-custom {
    background-image: none;
    background-color:rgba(54, 52, 52, 0.8);
    color: #E4801D
 }

 .panel > .panel-heading {
    background-image: none;
    background-color:rgba(54, 52, 52, 0.8);
    color: #E4801D;
}


 
 .container {
     padding:20px;
     position: relative;
     margin:auto;
     text-align: center;
 }

 img {
     padding-top:50px;
     float:left;
 }
 
 .panel-heading a:visited {
     color: #E4801D;
 }

 .panel-heading a:active {
    color: #E4801D;
}
.panel-heading a:hover {
    color: #E4801D;
}

 .panel-heading a:link {
    color: #E4801D;
}

 .submit {
    display:block;
    background-color: 	#E4801D;
    border-radius: 25px;
    color: black;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
 }
 
 .button {
     float: right;
     background-color: 	#E4801D;
     border-radius: 25px;
     color: black;
     padding: 10px 22px;
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
 }


 #validation-message {
     margin:auto;
    color:red;
    background-color:rgba(54, 52, 52, 0.8);
    border-radius:25px;
    max-width:325px;
 }