body {
    background-color:black;
 }
 
 .container {
     padding:20px;
     position: relative;
     margin:auto;
     text-align: center;
 }

 img {
     padding-top:50px;
     float:left;
 }
 
 .glyphicon {
     color:	#E4801D;
     font-size: 200%;
 }

 .submit {
    display:block;
    background-color: 	#E4801D;
    border-radius: 25px;
    color: black;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
 }
 
 .button {
     float: right;
     background-color: 	#E4801D;
     border-radius: 25px;
     color: black;
     padding: 10px 22px;
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
 }

 